html, body {
  width: 200px;
  height: 100px;
}

body {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
  margin: 0;
}

.controlButton {
  background-color: #f2f1ef;
  border: none;
  border-radius: 4px;
  color: #132c14;
  font-size: 12px;
  font-weight: 800;
  height: auto;
  line-height: 20px;
  width: 80px;
  padding: 0 16px;
  margin-top: 6px;
  text-align: center;
  display: none;
}

.controlButton:hover {
  box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
  color: #007ea7;;
}

#countdownWrapper {
  width: fit-content;
  margin: 0 auto;
  position: relative;
}

#countdownInput {
  border: 2px solid var(--inactive);
  width: fit-content;
  color: #007ea7;
  display: flex;
  align-items: center;
}

input {
  width: 60px;
  height: 40px;
  border: none;
  box-sizing: border-box;
  padding: auto 12px;
  text-align: center;
  color: #132c14;
  background-color: #f2f1ef;
}

label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.label {
  font-size: 0.4rem;
  position: absolute;
  text-align: center;
  top: 4px;
  left: 17px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#countdownInput,
input {
  border-radius: 8px;
  font-size: 1.2rem;
}

input:focus {
  outline: 3px solid var(--active);
}

input:focus + .label {
  color: var(--active);
}

input.invalid:focus {
  outline: 3px solid red;
}

input.invalid:focus + .label {
  color: red;
}

#error {
  position: relative;
  margin: 0 auto;
  color: red;
  visibility: hidden;
}
