html {
  width: 250px;
  height: 100px;
}

body {
  display: block;
  justify-content: center;
  align-items: center;
}

button {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

#countdownWrapper {
  width: fit-content;
  margin: 0 auto;
  position: relative;
}

#countdownInput {
  border: 2px solid var(--inactive);
  width: fit-content;
  color: #007ea7;
  display: flex;
  align-items: center;
}

input {
  width: 60px;
  height: 40px;
  border: none;
  box-sizing: border-box;
  padding: auto 12px;
  text-align: center;
  color: #132c14;
  background-color: #f2f1ef;
}

label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.label {
  font-size: 0.4rem;
  position: absolute;
  text-align: center;
  top: 4px;
  left: 17px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#countdownInput,
input {
  border-radius: 8px;
  font-size: 1.2rem;
}

input:focus {
  outline: 3px solid var(--active);
}

input:focus + .label {
  color: var(--active);
}

input.invalid:focus {
  outline: 3px solid red;
}

input.invalid:focus + .label {
  color: red;
}

#error {
  position: relative;
  margin: 0 auto;
  color: red;
  visibility: hidden;
}
